@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Sedan:ital@0;1&display=swap");

:root {
    --c-primary: #58474d;
    --c-secondary: #f06060;
    --bs-primary-focus: #292224;
    --bs-secondary-focus: #b14747;
    --bg-secondary: #f2ebbf;
    --bg-body: #86b6aa;
}
body {
}
h1 {
}
.form-group {
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}
fieldset {
}
legend {
}
.input-group {
    font-size: 16px;
    margin-bottom: 10px;
}

.input-group > input,
.input-group > textarea,
.input-group > select {
    width: 75%;
    height: 30px;
    font-size: 14px;
}
.input-group > select {
    height: 40px;
}
.input-group > textarea {
    height: 150px;
}
.input-group > label {
    margin-bottom: 10px;
    margin-top: 10px;
}
.separador {
    border-bottom: 4px dashed var(--c-secondary);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
}
.separador-1 {
    display: none;
}
.separador-2 {
    display: none;
}
.d-flex {
    display: flex !important;
}
.flex-row {
    flex-direction: row !important;
}
.flex-column {
    flex-direction: column !important;
}
.justify-content-start {
    justify-content: start !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.align-items-start {
    align-items: start !important;
}
.align-items-center {
    align-items: center !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.text-center {
    text-align: center !important;
}
.text-end {
    text-align: end !important;
}
.text-start {
    text-align: start !important;
}
.text-white {
    color: white;
}
.fw-bold {
    font-weight: bold;
}
.gap-3 {
    gap: 5px;
}
.w-50 {
    width: 50% !important;
}
.w-75 {
    width: 75% !important;
}
.w-100 {
    width: 100% !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.ml-20 {
    margin-left: 20px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.checkCondiciones > div > input[type="checkbox"] {
    height: 15px;
    width: 15px;
}

button {
    padding: 15px;
    font-size: 16px;
    background-color: var(--c-secondary);
    color: white;
    border: 1px solid var(--bg-secondary);
    margin-right: 15px;
    margin-left: 15px;
}
button:hover {
    background-color: var(--bs-secondary-focus);
}

@media (max-width: 1250px) {
    .container {
        flex-wrap: wrap;
    }
}
@media (min-width: 1250px) {
    .container {
        flex-wrap: nowrap;
    }
}
